.publications {
  background: $back-color;
  padding-bottom: 30px;
  &__p-60 {
    padding-left: 30px;
    padding-right: 30px;
  }
  &__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }
  &__item-inset {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
  &__item {
    background: $white;
    border-radius: 8px;
    margin-bottom: 30px;
  }
  &__item:last-child {
    margin-bottom: 0;
  }
  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $blue;
    background-image: url(../img/Arrow.svg);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 12px;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 5px;
    display: inline-block;
  }
  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    background: $back-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 30px;
  }
  &__link-article {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $blue;
    text-decoration: none;
    margin-top: 25px;
    margin-bottom: 15px;
    display: block;
  }
  &__date {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $text-color;
  }
  &__text {
    font-size: 14px;
    line-height: 22px;
    color: $black;
    border-top: 4px solid $light-grey-color;
    margin-top: 11px;
    padding-top: 15px;
  }
  @media screen and (min-width: 768px) {
    &__inset {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
    }
    &__item--august {
      grid-column: 1 / -1;
    }
    &__p-60 {
      padding-left: 60px;
      padding-right: 60px;
    }
    &__title {
      font-size: 38px;
    }
    &__link {
      margin-bottom: 17px;
    }
  }
  @media screen and (min-width: 992px) {
    &__inset {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    &__item {
      margin-bottom: 0;
    }
    &__link {
      margin-bottom: 15px;
    }
    &__item--august {
      grid-column: 3;
    }
  }
  @media screen and (min-width: 1440px) {
    &__title {
      margin-bottom: 35px;
    }
  }
}
